/* Default behavior for larger screens (above 1024px) */
#MainColumn {
    width: 66.666%; /* 8/12 column width */
    float: left;
  }
  
  #SideColumn {
    width: 33.333%; /* 4/12 column width */
    float: left;
  }
  
  /* Behavior for screens 1024px and below */
  @media (max-width: 1024px) {
    #MainColumn,
    #SideColumn {
      width: 100%; /* Stack both columns full-width */
      float: none;
    }
  
    #SideColumn {
      margin-top: 20px; /* Add spacing between columns when stacked */
    }
  }
  /* Default: Multiple columns for larger screens */
#top-sellers > .row > .top-sellers-item {
    width: 100%; /* By default, let Bootstrap handle grid */
  }
  
  

  p, ul, li, label, button, .navbar a{
    font-size: calc(1rem + 0.5vw); 
  }
  .navbar a {
    font-size: calc(1rem + 1vw); 
  }
  input[type="search"] {
    font-size: calc(1rem + 0.5vw);
  }
  #detailed_description {
    font-size: calc(1rem + 0.5vw);
  }
  a {
    font-size: calc(1rem + 0.5vw);
  }
  #language_table {
    font-size: calc(1rem + 0.5vw);
  }
  #new-releases, header, footer {
    font-size: calc(1rem + 0.5vw);
  }
  #new-releases, header, footer {
    font-size: calc(1rem + 0.5vw);
  }


  input {
    font-size: calc(1rem + 0.25vw);
  }
  #genres-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Creates responsive grid */
    gap: 10px; /* Adds space between items */
    list-style: none; /* Removes default bullets */
    padding: 0;
    margin: 0;
  }
  
 #genres-list li {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff; /* White text */
  }

  .ratio img {
    object-fit: cover;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #000;
  }

  /* Animations  */
  body {
    opacity: 0;
    
}

body.loaded {
  animation: fadeIn 1s ease-in-out; 
    opacity: 1;
}


.dynamic-element {
  opacity: 0;
  
}

.dynamic-element.visible {
  animation: fadeIn 2s ease-in-out;
  opacity: 1;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none;  
  margin: 50px auto;
}

.requirements-animated {
  animation:  blink-smooth 1s ease-in-out;
}
.custom-button-click {
  animation: button-click 0.3s ease-in-out;
}

.requirements_content {
  transition: max-height 0.5s ease-in-out;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink-smooth {
  0% {
    color: white; 
  }
  50% {
    color: transparent; 
  }
  100% {
    color: white; 
  }
  
}

@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95); /* Slightly shrink the button */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}
