#game-list {

    color:white;
    display: flex;
   
    margin: 1em;
     /*background: #141E30;
      background: linear-gradient(to right, #243B55, #141e30); */
        flex-wrap: wrap;
}
#game-list h2 {
    margin: 0.5em 1em;
}

/*
#appsTable {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 95%;
    width: 95%;
    
   
  }
*/
  #appsTable tr:hover {
     background-color: #2a475e; 
}
#appsTable tr {
    margin: 0.25em;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
}

  #appsTable th, td {
    
    border: 1px solid black;
   
    /* background: linear-gradient(to right, #385c85, #233555); */
    padding: 1em;
    text-align: left;
  }
 
  #appsTable th {
    background-color: #f2f2f2;
  }
  #appsTable a {
    text-decoration: none;
    color:inherit;
  }
  #appsTable a:hover {
    text-decoration: underline;
  }

}